<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.joonzis.mapper.BoardAttachMapper">
	<insert id="insert" parameterType="org.joonzis.domain.BoardAttachVO">
		insert into tbl_attach (bno, UUID, uploadPath, fileName)
						values(#{bno}, #{uuid}, #{uploadPath}, #{fileName})
	</insert>
	

	<select id="findByBno" resultType="org.joonzis.domain.BoardAttachVO">	
		SELECT * from tbl_attach where bno=#{bno}
	</select>
	
	<select id="findByUuid" resultType="org.joonzis.domain.BoardAttachVO">
	    SELECT * FROM tbl_attach
	    WHERE uuid = #{uuid}
	</select>

	<delete id="deleteByUuid">
	    DELETE FROM tbl_attach
	    WHERE uuid = #{uuid}
	</delete>
	
	
</mapper>
